@model Category

<form asp-action = "Create"method="post">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary" >Submit Category</button>
        <a asp-action="index" asp-controller="Category" class="btn btn-warning">Back to Index</a>
    </div>
</form>



@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}