@model Category

<h1>Delete</h1>
<form asp-action="DeleteCategory" method="post">
    <input hidden asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" disabled class="form-control" />
        <span asp-validation-for="Name"  class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description" disabled class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <button type="submit" value ="Delete"class="btn btn-danger">Delete This Category</button>
        <a asp-action="index" asp-controller="Category" class="btn btn-warning">Back to Index</a>
    </div>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}