@model Category

<h1>Edit</h1>
<form asasp-action="Edit" method="post">
    <input hidden asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Update Category</button>
        <a asp-action="index" asp-controller="Category" class="btn btn-warning">Back to Index</a>
    </div>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}